#arjsDebugUIContainer {
	display: none;
}

a-box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#ice {
	width: 400px;
	height: 160px;
	background: url('assets/journey-train.png');
	background-repeat: no-repeat;
	animation-name: example;
    animation-duration: 4s;
	animation-iteration-count: infinite;
	margin-top: 50px;
}

@keyframes example {
    0%   {background-position-y: 14px;}
    79.9%   {background-position-y: 14px;}
    80%  {background-position-y: -173px;}
    81.9%  {background-position-y: -173px;}
    82%  {background-position-y: -337px;}
    83.9%  {background-position-y: -337px;}
    84%  {background-position-y: -514px;}
    95.9%   {background-position-y: -514px;}
    96%  {background-position-y: -337px;}
    97.9%  {background-position-y: -337px;}
    98%  {background-position-y: -173px;}
    100%  {background-position-y: -173px;}
}
